.Register {
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    .register-box {
        width: 60vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        background: #FCFCFC;
        border: 1px solid #B6B6B6;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 3rem;
        .header {
            margin-bottom: 3rem;
            // h1 {}
            p {
                font-size: 14px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            .box-select {
                margin-bottom: 4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    display: none;
                }
                label {
                    width: 206px;
                    height: 186px;
                    background: #F2F2F2;
                    // box-shadow: 0px 4px 40px rgba(219, 219, 219, 0.3);
                    border-radius: 30px;
                    margin: 1rem;
                    padding: 1rem;
                    opacity: 0.3;
                    cursor: pointer;
                    transition: all 0.1s;
                    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
                    .box-select-group { 
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        text-align: center;
                        cursor: pointer;
                        // position: relative;
                        // &:hover, &:hover > .green-box {
                        //     opacity: 1;
                        // }
                        .green-box {
                            width: 8px;
                            height: 8px;
                            background: #000000;
                            border-radius: 50%;
                            border: #F2F2F2 solid 2px;
                            box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
                            -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
                            -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
                            // position: absolute;
                            // top: 20px;
                            // right: 20px;
                            align-self: flex-end;
                            margin: 20px 20px 20px 0;
                            opacity: 0;
                            transition: all 0.2s;
                            transition-timing-function: cubic-bezier(.17,.67,.83,.67);
                        }
                        .image-box {
                            width: 54px;
                            height: 54px;
                            background: #C4C4C4;
                            border-radius: 50%;
                        }
                        h4 {
                            text-transform: capitalize;
                            font-size: 16px;
                            margin-bottom: -.5rem;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
            .actions {
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                button {
                    width: 50vh;
                    color: #ffffff;
                    background-color: #5F5C5C;
                    border-radius: 30px;
                    padding: 1rem 3rem;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
}

input[name="join-partnr"]:checked + label {
    opacity: 1 !important;
    border: #FCFCFC 4px solid;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    transform: scale(1.1);
}

input[name="join-partnr"]:checked + label > .box-select-group > .green-box {
    opacity: 1 !important;
}
